# 不允许使用val注解
clear lombok.val.flagUsage
lombok.val.flagUsage=ERROR
# 重命名日志名称->LOGGER
clear lombok.log.fieldName
lombok.log.fieldName=LOGGER
# 只允许使用sl4j
#lombok.log.flagUsage=WARNING
lombok.log.fieldIsStatic=true
#lombok.log.slf4j.flagUsage=WARNING
lombok.log.apacheCommons.flagUsage=ERROR
lombok.log.flogger.flagUsage=ERROR
lombok.log.javaUtilLogging.flagUsage=ERROR
lombok.log.jbosslog.flagUsage=ERROR
lombok.log.log4j.flagUsage=ERROR
lombok.log.log4j2.flagUsage=ERROR
lombok.log.xslf4j.flagUsage=ERROR